
{% block title %} Calculo Propiedades del Suelo{% endblock %}
{% block content %}

<div>
<form action="/calcular/" method="GET">

  <input type="number" placeholder="arena" name="arena" id="arena">
  <input type="number" placeholder="arcilla" name="arcilla" id="arcilla">
  <input type="number" placeholder="Materia organica" name="materia_organica" id="materia_organica">
  <input type="number" placeholder="compactacion" name="compactacion" id="compactacion">
  <input type="number" placeholder="grava" name="grava" id="grava">
  <input type="number" placeholder="salinidad" name="salinidad" id="salinidad">
  <button type="submit"> dedfwer </button>

</form>

</div>
   {{   m   }}
 
{% endblock %}
